[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"

[packages]
django = "*"
schedule = "*"
numpy = "*"
django-crispy-forms = "*"
google-api-python-client = "*"
isodate = "*"
pytube3 = "*"
pre-commit = "*"
black = "*"
flake8 = "*"
flake8-import-order = "*"
flake8-blind-except = "*"
flake8-builtins = "*"
flake8-docstrings = "*"
flake8-bugbear = "*"
flake8-comprehensions = "*"
flake8-pep3101 = "*"
pep8-naming = "*"
isort = "*"
tensorflow = "*"
python-decouple = "*"
opencv-python = "*"
pillow = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
